@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
  transition: $slow-anim;
}

h1, h2, h3 {
  color: $title-color;
  font-weight: $semi-bold-font;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: $body-font;
  outline: none;
  border: none;
}