@import "variables";

.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: $h2-font-size;
  margin-bottom: 1rem;

  span {
    color: $second-color;
  }
}

.section__subtitle {
  display: block;
  font-size: $small-font-size;
  color: $second-color;
}

.main {
  overflow: hidden;
}