@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: #fff;
  color: #57606f;
  transition: 0.4s;
}

h1, h2, h3 {
  color: #060a44;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}

.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.section__title span {
  color: #ffa502;
}

.section__subtitle {
  display: block;
  font-size: 0.813rem;
  color: #ffa502;
}

.main {
  overflow: hidden;
}

.button {
  display: inline-block;
  background: #3742fa;
  color: white;
  padding: 14px 28px;
  border-radius: 0.5rem;
  font-size: 0.938rem;
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(39, 69, 190, 0.25);
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  background: #616aff;
  box-shadow: 0 4px 12px rgba(39, 69, 190, 0.25);
  transition: 0.3s;
}

.nav__button {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  transition: 0.4s;
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: white;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: 500;
  transition: 0.3s;
}
.nav__logo i {
  font-size: 1rem;
}
.nav__logo:hover {
  color: #3742fa;
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    bottom: 2rem;
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(47, 53, 66, 0.2);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.3rem 3rem;
    border-radius: 1.25rem;
    transition: 0.4s;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__link {
    color: #57606f;
    display: flex;
    padding: 0.5rem;
    border-radius: 50%;
  }
  .nav__link i {
    font-size: 1.25rem;
  }
  .nav__link span {
    display: none;
  }
}
.scroll-header {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(37, 37, 40, 0.1);
}
.scroll-header .nav__logo {
  color: #3742fa;
}

.home {
  background: linear-gradient(170deg, #383838 0%, #0f0f0f 30%);
  padding-bottom: 0;
}

.home__container {
  padding-top: 4rem;
  row-gap: 3.5rem;
}

.home__title,
.home__value-number {
  color: #fff;
}

.home__title {
  font-size: 2.25rem;
  line-height: 120%;
  margin-bottom: 1.25rem;
}

.home__description {
  color: #a4b0be;
  margin-bottom: 2rem;
}

.home__search {
  background-color: #fff;
  padding: 0.35rem 0.35rem 0.35rem 0.75rem;
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  border: 3px solid #a4b0be;
  margin-bottom: 2rem;
}
.home__search i {
  font-size: 1.25rem;
  color: #3742fa;
}

.home__search-input {
  width: 90%;
  background-color: #fff;
  color: #57606f;
  margin: 0 0.5rem;
}
.home__search-input::placeholder {
  color: #a4b0be;
}

.home__value {
  display: flex;
  column-gap: 2.5rem;
}

.home__value-number {
  font-size: 1.5rem;
  font-weight: 500;
}
.home__value-number span {
  color: #ffa502;
}

.home__value-description {
  display: flex;
  color: #a4b0be;
  font-size: 0.75rem;
}

.home__images {
  position: relative;
  display: flex;
  justify-content: center;
}

.home__orb {
  width: 265px;
  height: 284px;
  background: linear-gradient(180deg, #292929 93%, #ababab 100%);
  border-radius: 135px 135px 0 0;
}

.home__img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  display: inline-flex;
  align-items: flex-end;
  bottom: -1.5rem;
  box-shadow: 0 16px 32px rgba(47, 53, 66, 0.2);
}

.logos__container {
  padding-top: 2rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 2rem;
  justify-items: center;
}

.logos__img img {
  height: 60px;
  opacity: 0.2;
  transition: 0.4s;
}
.logos__img img:hover {
  opacity: 0.6;
}

.popular__container {
  padding: 1rem 0 5rem;
}

.popular__card {
  width: 290px;
  background-color: #fff;
  padding: 0.5rem 0.5rem 1.5rem;
  border-radius: 1rem;
  margin: 0 auto;
  transition: 0.4s;
}
.popular__card:hover {
  box-shadow: 0 12px 16px rgba(39, 69, 190, 0.1);
}

.popular__img {
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.popular__data {
  padding: 0 1rem 0 0.5rem;
}

.popular__price {
  font-size: 1.25rem;
  color: #57606f;
  margin-bottom: 0.25rem;
}
.popular__price span {
  color: #ffa502;
}

.popular__title {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.popular__description {
  font-size: 0.813rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  top: initial;
  bottom: 0;
  width: initial;
  height: initial;
  background-color: #fff;
  border: 2px solid #f1f3f8;
  padding: 6px;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: #3742fa;
}

.swiper-button-prev {
  left: calc(50% - 3rem);
}

.swiper-button-next {
  right: calc(50% - 3rem);
}

.value__container {
  row-gap: 3rem;
}

.value__images {
  position: relative;
  display: flex;
  justify-content: center;
}

.value__orbe {
  width: 266px;
  height: 316px;
  background-color: #f6f6f9;
  border-radius: 135px 135px 16px 16px;
}

.value__img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  inset: 0;
  margin: auto;
  box-shadow: 0 16px 32px rgba(22, 39, 106, 0.25);
}

.value__description {
  font-size: 0.813rem;
  margin-bottom: 2rem;
}

.value__accordion {
  display: grid;
  row-gap: 1.5rem;
}

.value__accordion-item {
  background-color: #fff;
  border: 2px solid #f1f3f8;
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
}

.value__accordion-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.value__accordion-icon {
  background-color: #f2f3ff;
  padding: 5px;
  border-radius: 0.25rem;
  font-size: 18px;
  color: #3742fa;
  margin-right: 0.75rem;
  transition: 0.3s;
}

.value__accordion-title {
  font-size: 0.813rem;
}

.value__accordion-arrow {
  display: inline-flex;
  background-color: #f2f3ff;
  padding: 0.25rem;
  color: #3742fa;
  border-radius: 2px;
  font-size: 10px;
  margin-left: auto;
  transition: 0.3s;
}
.value__accordion-arrow i {
  transition: 0.4s;
}

.value__accordion-description {
  font-size: 0.75rem;
  padding: 1.25rem 2.5rem 0 2.5rem;
}

.value__accordion-content {
  overflow: hidden;
  height: 0;
  transition: all 0.3s ease;
}

.accordion-open {
  box-shadow: 0 12px 32px rgba(39, 69, 190, 0.1);
  border: 2px solid #fff;
  transition: 0.4s;
}
.accordion-open .value__accordion-arrow i {
  transform: rotate(-180deg);
}

/*# sourceMappingURL=main.css.map */
